---
// Guides index page
layout: ../../layouts/Base.astro
title: "Guides | Mechascopic"
description: "Browse PvE guides, builds, and strategies by game and topic."
---

<main>
  <h1>Guides</h1>
  <GuideFilters />
  <GuidesList />
</main>
