---
import Base from "../layouts/Base.astro";
---

<Base title="Contact | Mechascopic" description="Contact Mechascopic.">
  <main>
    <h1>Contact</h1>
    <p>Email: <a href="mailto:contact@mechascopic.com">contact@mechascopic.com</a></p>
  </main>
</Base>
