---
import Base from "../layouts/Base.astro";
import AffiliateDisclosure from "../components/AffiliateDisclosure.astro";
import GearList from "../components/GearList.astro";
---

<Base title="Gear I Use | Mechascopic" description="My setup and recommended alternatives for PvE gaming.">
  <main>
    <h1>My Setup & Recommended Gear</h1>
    <AffiliateDisclosure />
    <GearList />
  </main>
</Base>
