---
// Gear page
layout: ../../layouts/Base.astro
title: "Gear I Use | Mechascopic"
description: "My setup and recommended alternatives for PvE gaming."
---

<main>
  <h1>My Setup & Recommended Gear</h1>
  <AffiliateDisclosure />
  <GearList />
</main>
