---
// Placeholder for guides list (will render Markdown guides)
---
<ul>
  <li><a href="/guides/hunter-build">Ultimate PvE Hunter Build</a></li>
  <li><a href="/guides/budget-setup">Best Budget Gaming Setup 2026</a></li>
  <li><a href="/guides/calm-pve">How to Stay Calm in PvE</a></li>
</ul>
