---
export interface Props {
  gameOptions: string[];
  topicOptions: string[];
}

const { gameOptions = [], topicOptions = [] } = Astro.props;

const toLabel = (value: string) =>
  value
    .split("-")
    .map((part) => part.charAt(0).toUpperCase() + part.slice(1))
    .join(" ");
---
<div class="guide-filters">
  <label for="game">Game:</label>
  <select id="game" name="game">
    <option value="">All</option>
    {gameOptions.map((game) => (
      <option value={game}>{game}</option>
    ))}
  </select>
  <label for="topic" class="topic-label">Topic:</label>
  <select id="topic" name="topic">
    <option value="">All</option>
    {topicOptions.map((topic) => (
      <option value={topic}>{toLabel(topic)}</option>
    ))}
  </select>
</div>

<style>
  .guide-filters {
    margin-bottom: 1.5em;
  }

  .topic-label {
    margin-left: 1em;
  }
</style>
